{% extends 'base.html' %}
{% block content %}

<div class="contents">
    <div class="inner_layout">
        <div class="login">
            <div class="input_box">
                <div class="top_box">
                    <h1 class="pageTitle">instagram</h1>
                </div>
                <div class="mid_box">
                    <form action="{%url 'login'%}" method="POST">
                        {%csrf_token%}
                        <table>
                            {{form.as_table}}
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input type="submit" class="btn btn-default inputs loginBtn" value="로그인">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
                <div class="go_register_box">
                    <div class="hr-sect">또는</div>
                    <p class="register_textline">계정이 없으신가요? <a class="resgister_btn" href="{%url 'signup'%}">가입하기</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}