{% extends 'base.html' %}
{% block content %}

<div class="contents">
    <div class="inner_layout">
        <div class="login">
            <div class="input_box">
                <div class="top_box">
                    <h1 class="pageTitle">instagram</h1>
                    <p class="page_descriptrion">친구들의 사진과 동영상을 보려면 가입하세요.</p>
                </div>
                <div class="mid_box">
                    <form action="{%url 'signup'%}" method="POST">
                        {%csrf_token%}
                        <table>
                            {{form.as_table}}
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input type="submit" class="btn btn-default inputs loginBtn" value="가입">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
                <div class="go_register_box">
                    <div class="hr-sect">또는</div>
                    <p class="register_textline">계정이 있으신가요? <a class="resgister_btn" href="{%url 'login'%}">로그인</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}